*{
    margin: 0; padding: 0; box-sizing: border-box;
}
#clearFix{
    float: none;
    clear: both;
}


body{
    background: url("../img/foto3.jpg");
    background-attachment: fixed;
    
}
#global{
  width: 80%;
  margin: 0px auto;
  margin-top: 25px;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 18px 3px rebeccapurple;
}
#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    letter-spacing: 4px;
    background:#722eb1;
    color: white;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
    line-height: 80px;
    float: left;
}
#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    
}

#menu ul{
    line-height: 30px;
    display: flex;
    
    

}
#menu ul li{
    height: 46px;
    list-style: none;
    display: inline-block;
    transition: all 300ms ;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-right: 1px solid gray;
    
}
#menu ul li:hover{
   background: #722eb1;
   transition: 600ms ease all;
   box-shadow: 0px 0px 12px 4px rebeccapurple ;
   
}
#menu ul li a:hover{
    color: black;
}
#menu a{
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  
}
#posts{
    width: 60%;
   
    font-family: Arial, Helvetica, sans-serif;
    
}
.post{
    padding: 10px;
    margin-top: 30px;
}
.post h2{
    font-size: 30px;
    text-align: center;
    color: #722eb1;

}
.post .date{
    color: gray;
    margin-top: 10px;
    display: block;
    text-align: center;  
}
.post p{
    margin-top: 25px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 20px;

}
.boton{
    text-decoration: none;
    padding: 15px;
    background: #722eb1 ;
    color: white;
    margin-top: 10px;
    display: block;
    text-align: center;
    box-shadow: 0px 0px 12px 4px rebeccapurple ;


}

#aside{
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    
    

}
#content{
    display: flex;
}
 h4{
    text-align: center;
    color: #722eb1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 30px;
    
}
.imagenAside{
    width: 80%;
    
    height: 200px;
    
    
}
#about{
    text-align: -moz-center;
}
#about p{
    width: 80%;
    text-align: justify;
    
}
#login{
    box-shadow: 0px 0px 12px 4px rebeccapurple ;
    background-color:rgba(55, 29, 82, 0.562) ;
    width: 80%;
    
}
#formulario{
    text-align: center;
}
label{
 color: #722eb1;
 
 
}
#entrar{
   
    margin-top: 30px;
    color: white;
    background: #722eb1 ;
    box-shadow: 0px 0px 12px 4px rebeccapurple ;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
.form{
    box-shadow: 0px 0px 12px 4px rebeccapurple ;
    margin-bottom: 20px;
}
input{
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px;
}

footer{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 50px;
  background: #722eb1e0;
  text-align: center;
  line-height: 50px;
  box-shadow: 0px 0px 14px 5px rgb(102, 51, 153) ;
  width:100%;

}
